/*
Name: Sitio Confetti
URI:www.productosconfetti.com
Author: Arturo Benitez

*/
html{
	font-size:100%;
}

body{
	color:gray;
	font-size:16px;
	font-family:Arial;
}

a{	
	color:black;
	font-weight:bold;
	text-decoration:none;
}

li{
	display:inline-block;
}

.container{
	margin:0 auto;
	max-width:600px;
	padding:2em 0;
}